{% extends "layout.html" %}

{% block body %}
<div class="jumbotron text-center">
    <h3>Takonun mekanına hoşgeldiniz.Sizi Dead Flag Blues introsu karşılıyor.</h3>
    <p>the car's on fire and there's no driver at the wheel
            and the sewers are all muddied with a thousand lonely suicides
            and a dark wind blows
            the government is corrupt
            and we're on so many drugs
            with the radio on and the curtains drawn
            we're trapped in the belly of this horrible machine
            and the machine is bleeding to death
            the sun has fallen down
            and the billboards are all leering
            and the flags are all dead at the top of their poles
            it went like this:
            the buildings tumbled in on themselves
            mothers clutching babies picked through the rubble
            and pulled out their hair
            the skyline was beautiful on fire
            all twisted metal stretching upwards
            everything washed in a thin orange haze
            i said: "kiss me, you're beautiful -
            these are truly the last days"
            you grabbed my hand and we fell into it
            like a daydream or a fever
            we woke up one morning and fell a little further down -
            for sure it's the valley of death
            i open up my wallet
            and it's full of blood  </p>
</div>
{% endblock body %} 